<% include header.ejs %>
<h1>编辑</h1>
<a style="position:absolute;right:200px;top:110px;" href="/new">录入</a>
<table class="table " style="margin-top:20px;">
	<tbody>
		<tr>
	  <th>#</th>
	  <th>歌手</th>
	  <th>歌名</th>
	  <th>添加时间</th>
	  <th>操作</th>
	</tr>
	</tbody>

	 
<%
	var j=1;
    for(var i = 0; i< mus.length;i++){  
%>  
    <tr class="<%= mus[i]._id%>">  
    	 <td ><%= j++ %></td>
        <td ><%= mus[i].singer%></td>  
        <td><%= mus[i].musicName%></td>  
        <td><%= mus[i].meta.createAt%></td>  
        <td>
        	<form style="display:inline" method="post" action="/show" enctype="application/x-www-form-urlencoded">
        		<input type="text" name="_id" value="<%= mus[i]._id%>" hidden="true"> 
        		<input type="submit" value="修改">
        	</form>

        	<form style="display:inline" method="post" action="/delete" enctype="application/x-www-form-urlencoded">
        		<input type="text" name="del" value="<%= mus[i]._id%>" hidden="true"> 
        		<input class="del" type="submit" value="删除" data-id="<%= mus[i]._id%>">
        	</form>
        </td>
    <tr>  
   
<% 
    }  
%>  
 

</table>
<script type="text/javascript">

	$(".del").click(function(e){
		e.preventDefault();
		var id = $(e.target).data('id');
		var tr = $("."+id);
		$.ajax({
			url:"/delete?id="+id,
			type:"DELETE",
			 // success: function (returndata) {  
    //           alert("成功");  
    //       },  
    //       error: function (returndata) {  
    //           alert("失败");  
    //       }  
		});
		if(tr.length>0){
			tr.remove();
		}

	})


	
</script>
</div>
<% include footer.ejs %>