<% include header.ejs %>

	<div class="row" style="margin-top:20px;">
		<div class="col-md-6">
			<div class="left">
				<a href="#"><img style="width:100%;height:200px;display:block" class="pic" src="source/bigbang1.jpg" /></a>
				<audio style="width:44px;position:relative;top:-40px;left:10px" src="source/Bigbang - Blue.mp3" controls="controls"></audio>
			</div>
		</div>

		<div class="col-md-6">
			<div class="right">
				<a href="#"><img style="width:100%;height:200px;display:block" class="pic" src="source/bigbang2.jpg" /></a>
				<audio style="width:44px;position:relative;top:-40px;left:10px" src="source/Bigbang - Loser.mp3" controls="controls"></audio>
			</div>
		</div>
		</div>

		<div class="row" style="margin-top:20px;">
		<div class="col-md-6">
			<ul class="center-block" style="width:500px;">
				<li class="list">
					<a class="list_a1" href="#">01 <%=list1 %></a>
					<a class="list_a2" href="#"><%=singer1 %></a>
				</li>
				<li class="list">
					<a class="list_a1" href="#">02 <%=list2 %></a>
					<a class="list_a2" href="#"><%=singer1 %></a>
				</li>
				<li class="list">
					<a class="list_a1" href="#">03 <%=list3 %></a>
					<a class="list_a2" href="#"><%=singer1 %></a>
				</li>
				<li class="list">
					<a class="list_a1" href="#">04 <%=list4 %></a>
					<a class="list_a2" href="#"><%=singer1 %></a>
				</li>
				<li class="list">
					<a class="list_a1" href="#">05 <%=list5 %></a>
					<a class="list_a2" href="#"><%=singer1 %></a>
				</li>
				<li class="list">
					<a class="list_a1" href="#">06 <%=list6 %></a>
					<a class="list_a2" href="#"><%=singer1 %></a>
				</li>
			</ul>
		</div>
		
		<div class="col-md-6">
			<ul class="center-block more">
				<li><a href="#">经典</a></li>
				<li><a href="#">经典da</a></li>
				<li><a href="#">经典</a></li>
				<li><a href="#">经典</a></li>
				<li><a href="#">经典afdfa</a></li>
				<li><a href="#">经典</a></li>
				<li><a href="#">经典dfas</a></li>
				<li><a href="#">经典</a></li>
				<li><a href="#">经典adf</a></li>
				<li><a href="#">经典</a></li>
				<li><a href="#">经典</a></li>
				<li><a href="#">经典</a></li>
			</ul>
		</div>
		</div>


		
	</div>

  
    
<% include footer.ejs %>

